<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Jornal cidadão/Autos e Leves</title>
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="css/style.css">

    </head>
    <body>
        <header>
            <div id="logoecaderno">

                <img src="img/Cidadão Final.png"/>
                <hground> 
                    <h1>Autos e Leves</h1>
                    <h2>Tudo sobre o mundo automobilistico</h2>
                </hground>

            </div>
        </header>
                <nav>
            <div class="menu"> 
                <ul>
                    <li><p>principal</p></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </nav>
            @RenderBody()
            <footer>

                <p>
                    Escrito por Henrique.
                    <br/>
                    Atualizado: 13/09/2019. Por: Henrique. 
                    <br/>
                </p>
            </footer>
    </body>
</html>