            <main>
                <section id="lançamentos">
                    <h1>lançamentos</h1>
                    <h2>Polo GTS</h2>
                    <a href="index lançamentos.html"><img src="img/pologts.jpg"/></a>
                    <p>A versão esportiva do Polo é um dos lançamentos previstos para este ano pela VW.</p>

                    <h2>Audi Q8 2019</h2>
                        <img src="img/audi.jpg"/>
                    <p>O SUV-cupê da Audi, motor 3.0 420cav estar chegando neste segundo semestre de 2019.</p>
                </section>

                <section id="Notícias">
                    <h1>Notícias</h1>
                    <h2>Tesla airbag de pólvora</h2>
                        <img src="img/teslafire.jpg"/>
                    <p>Carro elétrico da Tesla explode após colisão.</p>  
                    
                    <h2>Tesla e seu piloto automatico</h2>
                        <img src="img/tesladormir.jpg"/>
                    <p>Motorista dorme ao volante de tesla e deixa o piloto automatico dirigindo por ele.</p>
                </section>
            </main>